@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1631091407338') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31shoucang:before {
  content: "\f01ab";
}

.icon-31xiaoxi:before {
  content: "\f0200";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-jiantou_down:before {
  content: "\e61a";
}

.icon-suo:before {
  content: "\e608";
}

.icon-shipin:before {
  content: "\e71f";
}

.icon-changyongicon-:before {
  content: "\e617";
}

.icon-guanbi:before {
  content: "\e639";
}

.icon-xinxi:before {
  content: "\e615";
}

.icon--:before {
  content: "\e61f";
}

.icon-faxian:before {
  content: "\e6c0";
}

.icon-jiantou-shang:before {
  content: "\e6cd";
}

.icon-biji:before {
  content: "\ea03";
}

.icon-zhuanfa:before {
  content: "\e687";
}

.icon-zan:before {
  content: "\e829";
}

.icon-shanchu:before {
  content: "\e623";
}

.icon-tupian:before {
  content: "\f129";
}

.icon-home:before {
  content: "\ec0a";
}

.icon-youxi:before {
  content: "\e6e3";
}

.icon-yonghu:before {
  content: "\e689";
}

